# =========================
# 1. Caché de Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# 2. Entornos Virtuales
# =========================
venv/
env/
.venv/

# =========================
# 3. Archivos de Base de Datos
# =========================
database/infracciones.db
*.db
*.sqlite3

# =========================
# 4. Configuraciones
# =========================
.vscode/

# =========================
# 5. Archivos del Sistema Operativo
# =========================
Thumbs.db
.DS_Store

